/*
 * Fix
 * Version 0.2.1
 * Adapted to stylus from: https://github.com/jaydenseric/Fix
*/
html
  text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-tap-highlight-color transparent
  font-size 100%
  height 100vh
  margin 0
  max-height 100vh
  max-width 100vw
  min-height 100vh
  min-width 100vw
  padding 0
  width 100vw
body
  font-family Tahoma, Geneva, sans-serif
  height 100%
  line-height 1
  margin 0
  max-height 100%
  max-width 100%
  min-height 100%
  min-width 100%
  padding 0
  width 100%
iframe
  border 0
main
  display block
ul,
ol
  margin-top 0
  margin-bottom 0
  padding-left 0
li
  display block
dl
  margin-top 0
  margin-bottom 0
dd
  margin-left 0
h1,
h2,
h3,
h4,
h5,
h6
  margin-top 0
  margin-bottom 0
  font-size inherit
blockquote
  margin 0
  padding 0
p
  margin-top 0
  margin-bottom 0
sup
  position relative
  top -.5em
  vertical-align baseline
  font-size 75%
  line-height 0
strong
  font-weight bold
figure
  margin 0
img
  border 0
  max-width 100%
  height auto
  vertical-align middle
a
  color inherit
  text-decoration none
button
  border 0
  color inherit
  margin 0
  padding 0
  text-align inherit
  text-transform inherit
  font inherit
  -webkit-font-smoothing inherit
  letter-spacing inherit
  background none
  cursor pointer
  overflow visible
::-moz-focus-inner
  border 0
  padding 0
