/* Material Design Styles
 * bitbucket.org/brwnrclse/cdn
 */


$material-red = #E53935;
$material-pink = #E91E63;
$material-purple = #9C27B0;
$material-deep-purple = #673AB7;
$material-funk-purple = #D500F9;
$material-indigo = #3F51B5;
$material-blue = #2196F3;
$material-light-blue = #03A9F4;
$material-cyan = #00BCD4;
$material-light-cyan = #18FFFF;
$material-teal = #009688;
$material-green = #4CAF50;
$material-blue-green = #00E676;
$material-light-green = #8BC34A;
$material-lime = #CDDC39;
$material-real-lime = #C6FF00;
$material-yellow = #FFEB3B;
$material-amber = #FFC107;
$material-orange = #FF9800;
$material-deep-orange = #FF5722;
$material-brown = #795548;
$material-grey = #9E9E9E;
$material-blue-grey = #607D8B;
$material-black = #212121;
$material-white = #FAFAFA;

.material-button
    border none
    border-radius 1.5px
    background-color c
    color $material-white
    display inline-block
    overflow hidden
    position relative
    text-align center
    text-decoration none
    vertical-align middle
.material-button-raised
    box-shadow 0 3px 4px 0 $material-black, 0 2px 8px 0 $material-black

